<div style="text-align: center;">
    <h2>Dash Board</h2>
</div>
<div style=" text-align: center ; " class="mt-5">
    <a href="/all-users?token={{token}}"><button style="" class="btn btn-dark m-3"> View All Users</button></a>
    <a href="/edit-profile?token={{token}}"> <button class="btn m-3 btn-dark">Edit Profile</button></a>
</div>

