<div style=" text-align: center ; " >
    <button  style="" class="btn m-3"><a href="/sign-up"> User Registration </a></button>
    <button class="btn m-3"><a href="/login"> User Login </a></button>
</div>